#heroImage {
  max-height: 60vh;
  width: auto;
  object-fit: contain;
  transition: transform 1.5s ease;
  transform-origin: center;
}

#heroImage.finish-img {
  display: block !important;
  margin: 0 auto !important;
  width: 260px !important;
  /* fixed size */
  max-width: 80vw !important;
  /* responsif */
  height: auto !important;
  object-fit: contain !important;
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.bg-true-false {
  background-image: url("/assets/img/bg/breadcrumb-bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}

.bg-true-false::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.bg-true-false .container {
  position: relative;
  z-index: 2;
}